@import "loader.css";
@import "navbar.css";
@import "team.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: rgb(17, 17, 17) !important;
  color: #fff !important;
  transition: 500ms all;
}

body.light {
  background-color: rgb(241, 241, 241) !important;
  color: rgb(17, 17, 17) !important;
}

.scroll-down {
  height: 70px;
  width: 50px;
  position: absolute;
  border-radius: 50px;
  cursor: pointer;
  left: 47.8%;
  top: 90%;
  opacity: 0.3;
}

.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 20px;
  width: 20px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid black;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

.toggle {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  top: 100px;
  text-align: center;
  right: 15px;
}

.mode-control {
  cursor: pointer;
}

.mode-control input {
  opacity: 0;
}

.mode-control span:nth-of-type(2) {
  display: none;
}

.mode-control input:checked + span {
  display: none;
}

.mode-control input:checked + span + span {
  display: inline-block;
}

section.a {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("https://cdn.glitch.com/3f0f3ea6-a12f-4b1b-988a-439a4eb29032%2Fbg01.jpg?v=1612543978860");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  clip-path: circle(180vh at 49% -80vh);
  transition: 500ms all;
}

section.a img {
  -webkit-box-shadow: 23px 23px 40px 0px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 23px 23px 40px 0px rgba(0, 0, 0, 0.63);
  box-shadow: 23px 23px 40px 0px rgba(0, 0, 0, 0.63);
  margin-top: -100px;
  border-radius: 100%;
  width: 128px;
  height: 128px;
}

body.light section.a {
  background: url("https://cdn.glitch.com/3f0f3ea6-a12f-4b1b-988a-439a4eb29032%2Fbg03.jpg?v=1612544010217");
}

section.a .content {
  max-width: 1000px;
  text-align: center;
}

section.a .content h2 {
  font-size: 3.5em;
  color: #000;
  font-weight: 700;
  margin: 10px 0 30px 0;
}

body.light section.a .content h2 {
  color: #fff;
}

.button1 {
  padding: 0.35em 1.2em;
  border: 0.1em solid rgb(17, 17, 17);
  border-radius: 0.2em;
  text-decoration: none;
  font-weight: 300;
  color: rgb(17, 17, 17);
  text-align: center;
  transition: all 300ms;
}

.button1:hover {
  color: #fff;
  background-color: rgb(17, 17, 17);
}

body.light .button1 {
  border: 0.1em solid #fff;
  color: #fff;
}

body.light .button1:hover {
  color: rgb(17, 17, 17);
  background-color: #fff;
}

.totop a {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 50px;
  z-index: 99;
  cursor: pointer;
}

.footer {
  justify-content: center;
  text-align: center;
  height: 30px;
  margin-top: 40px;
}

.footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

body.light .footer a {
  color: black;
}

::-webkit-scrollbar {
  display: none;
}

.about {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 200px;
}

.red {
  color: red;
}

.info {
  text-align: center;
  min-height: 91vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  transition: 300ms all;
}

.card:hover {
  box-shadow: 23px 23px 40px 0px rgba(0, 0, 0, 0.7);
}

.fa-copy {
  font-size: 25px;
  cursor: pointer;
  color: #b8b8b8;
  transition: 300ms all;
}

.fa-copy:hover {
  color: #fff
}

#likeText {
  color: white;
  margin-left: 5px;
}

body.light #likeText {
  color: black;
}